
<h1>Login</h1>
<form action="/submit_login" id="login-form" method="POST" >
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>
